.edit_error_class {
  display: block;
  color: red;
}

.lift_error {
  color: red;
}

.lift_warning {
  color: yellow;
}

.lift_notice {
}

.sidebar ul {
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;
}


.sidebar ul li {
	margin:0;
	padding:0;
	list-style:none;
	border:1px solid #ccc;
	border-bottom:none;
}

.sidebar ul li a {
	display:block;
	padding:3px;
	text-indent:30px;
	text-decoration:none;
}

.sidebar ul li span {
	display:block;
	padding:3px;
	text-indent:30px;
	text-decoration:none;
}

.sidebar ul li a:hover {
	background-color: #eee;
}

table.api {
    border: 1px solid #444;
}

table.api th {
    background-color:#444;
    color:white;
    font-weight:bold;
}

table.api tr {
    background-color:#EEE;
}

table.api tr.odd {
    background-color:#CCC;
}
.red {
    color:#600;

}
td {
    vertical-align:top;
}

a, a:hover, a:active, a:visited {
  text-decoration:none;
}

a.button {
  width:200px;
  padding: .66em 0;
  margin: .66em;
  display: block;
  -webkit-border-radius: .5em;
  -moz-border-radius:    .5em;
  border-radius:         .5em;

  color: #333;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#69c));
  background: -moz-linear-gradient(top, white, #69c);
  text-align: center;
  font-weight: bold;
  font-size: 125%;
  color: #369;
}

a.button:hover {
  color: white;
  background: #369;
  background: -webkit-gradient(linear, left top, left bottom, from(#369), to(black));
  background: -moz-linear-gradient(top, #369, black);
}

a.button b {
	color:#69c;
}

p.centered {
	width:100%;
	font-size:1.2em;
	padding:.66em;
}

form {
  -webkit-border-radius: .5em;
  -moz-border-radius:    .5em;
  border-radius:         .5em;
  color: #333;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#69c));
  background: -moz-linear-gradient(top, white, #69c);
}

div.header {
    width:100%;
    padding:10px;
    color:#369;
    text-align: left;
    background: #369;
    background: -webkit-gradient(linear, left top, left bottom, from(#369), to(#69c));
    background: -moz-linear-gradient(top, #369, #69c);
    margin:0px;
}
div.footer {
    width:100%;
    padding:10px;
    color:#CCC;
    text-align: left;
    background: #369;
    background: -webkit-gradient(linear, left top, left bottom, from(#369), to(#69c));
    background: -moz-linear-gradient(top, #369, #69c);
}
div.header a, div.header a:hover, div.header a:visited {
    color:#CCC;
    font-weight:normal;
    font-size:1em;
}

div.content {
    padding:20px;
    padding-top:0px;
}

body {
    margin:0;
    padding:0;
    font-family: "Tahoma";
}
